* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    display: none;
    padding: 30px;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(56, 56, 56);
    // .menu__close
    &__close {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 40px;
        width: 40px;
        height: 50px;
        background: #fff;
        color: #000;
        border: none;
        cursor: pointer;
    }
    // .menu__ul
    &__ul {
        list-style-type: none;
        margin-top: 80px;
        a {
            display: block;
            margin-top: 15px;
            color: #fff;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

.main {
    padding: 30px;
    h1 {
        margin-bottom: 20px;
    }
    p {
        width: 800px;
    }
    &__burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        margin-bottom: 30px;
        span {
            display: block;
            width: 27px;
            height: 2px;
            background: #30233D;
            transition: transform 0.3s ease;
        }
    }
}
