* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.clock {
    font-size: 100px;
}


.widget {
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 20px;
    width: 700px;
}
.current {
    padding: 20px;
    width: 100%;
    background-color: #6b97ca;
		// .current__town
		&__town {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
		// .current__city
		&__city {
            font-size: 20px;
        }
		// .current__time
		&__time {}
		// .current__temp
		&__temp {
            margin-top: 30px;
        }
		// .current__img
		&__img {
            margin-bottom: 30px;
        }
		// .current__event
		&__event {
            font-size: 20px;
        }
		// .current__tempNow
		&__tempNow {
            font-size: 22px;
        }
		// .current__speed
		&__speed {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
}
.speed {
		// .speed__title
		&__title {
            font-size: 22px;
        }
		// .speed__number
		&__number {
            font-size: 22px;
        }
}
.forecast {
    height: 80px;
    border-bottom: 1px solid #6b97ca;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
		// .forecast__date
		&__date {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
		// .forecast__day
		&__day {
            
        }
		// .forecast__time
		&__time {
            width: 80px;
            text-align: start;
        }
		// .forecast__img
		&__img {}
		// .forecast__temp
		&__temp {}
}

